@font-face {
    font-family: 'AmongUs-Regular'; /*a name to be used later*/
    src: url('AmongUs-Regular.ttf'); /*URL to font*/
}


/* Deze krijg je alvast cadeau*/
* {
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'AmongUs-Regular';
}

/* Style the header */
header {
    background-color: red;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    background: cyan;
    padding: 20px;
    height: 300px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 75%;
    background-color: lime;
    height: 300px;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}